body{
    background-color: whitesmoke;
}
h1{
    background-image: linear-gradient(to right, lightblue,#6699ec);
    text-align: center;
    background-color: lightblue;
    margin: 12px;
}
p{
    text-align: left;
}
h2{
    text-align: center;
}
* {
    color: black;
    text-decoration: none;
    text-align: center;
}